//breakpoints
$view-md:768px;
$view-sm:540px;
//border
$border-box: 2px solid #808080;
//colors
$color-red: rgba(255, 0, 0, .5);
$color-green: rgba(0, 255, 0, .5);
$color-green-dark: rgb(58, 100, 4);



