//Abstract
@import "abstract/mixins";
@import "abstract/variables";


//Base
@import "base/reset";

//Components



.main {
    background-color: #B0CCAB;
    padding: 50px;
    }
    .main__paragraph {
    position: relative;
    left: 50px;
    }